.books {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 900px) {
  .books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}
